a {
    color: black;
    text-decoration: none;
}

ul > li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main);
    padding: 1.5em 0;
}

.brand {
    font-size: 2rem;
    flex-basis: 50%;
    font-weight: bold;
}

.menu-list{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.menu-list > li {
    margin-left: 20px;
}

.menu-list a {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--sec);
}

.menu {
    display: none;
}

.dropdownbg  {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.6s;
    color: white;
    box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.5);
    /* z-index: -10; */
}

.dropdown {
    transition: all ease-in-out 0.8s;
    color: black;
    padding: 10px;
    margin-top: 10px;
    background: white;
    position: absolute;
}

.dropdown-arrow {
    z-index: 10;
    transform: rotate(45deg);
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    left: 10%;
    box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.5);
}

.dropdown li>a {
    font-size: 0.9rem;
    color: rgba(80, 80, 80, 0.726);
}

.hide {
    opacity: 0;
}

@media screen and (max-width: 700px){
    .brand {
        font-size: 1.6rem;
    }
    .menu {
        display: inline;
        position: relative;
        right: 0;
    }
    .menu:hover {
        cursor: pointer;
    }
    .menu-list {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: #ad343ec0;
        color: white;
        width: 100vw;
        height: 100vh;
        text-align: center;
        padding-top: 40%;
    }
    .menu-list > li {
        margin: 10px 0;
    }
    .menu-list a{
        color: white;
        font-size: 1.4rem;
    }
    .hide-d {
        display: none;
    }
    .show-d {
        display: block;
    }
    .fixed {
        position: fixed;
    }
    .hide{
        display: none;
    }
    .dropdown {
        position: relative;
        width: 100vw;
        color: white;
    }
}
